<!doctype html>
<html ng-cloak ng-app="login-app" class="no-js" ng-controller="LoginCtrl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title ng-bind="'Log In &lsaquo; ' + MEANING.SiteName">Loading...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link ng-href="{{ MEANING.Favicon }}" rel="shortcut icon" type="image/x-icon">
    <!--STYLES--><!--STYLES END-->
    <!--SCRIPTS--><!--SCRIPTS END-->
</head>
<body class="login-layout" ng-hide="_isLogin">
<div class="container login-block">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <h3>User Console</h3>
            <div class="login-box clearfix">
                <div class="login-logo">
                    <a href="#"><img src="/img/icon_self.jpg"></a>
                </div>
                <hr>
                <div class="login-form">
                    <div class="alert alert-error" ng-show="error">
                        <button type="button" class="close" ng-click="error=''">×</button>
                        <h4>Error!</h4>
                        <span ng-bind="error"></span>
                    </div>
                    <form name="form" ng-submit="login()">
                        <input type="text" placeholder="Username" required ng-model="user.UserName">
                        <input type="password" placeholder="Password" required ng-model="user.Password">
                        <button type="submit" class="btn btn-login" ng-disabled="loading || form.$invalid">
                            Login
                        </button>
                        <p>
                            <a href="/" title="Are you lost?">← Back to <span ng-bind="MEANING.SiteName"></span></a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>