<!doctype html>
<html ng-cloak ng-app="admin-app" class="no-js" ng-controller="AdminCtrl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title ng-bind="title + ' &lsaquo; Console &lsaquo; ' + MEANING.SiteName">Loading...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!--STYLES--><!--STYLES END-->
    <!--SCRIPTS--><!--SCRIPTS END-->
</head>
<body class="navbar-fixed breadcrumbs-fixed" ng-show="_isLogin">
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#!/">
                <small>
                    <img src="/img/logo.jpg"/>
                    User Console
                </small>
            </a>
        </div>
    </div>
    <div class="navbar-header pull-right" role="navigation" style="margin-right: 13px!important;">
        <ul class="nav ace-nav">
            <li class="red">
                <a href="/" title="Visit Site">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="light-blue">
                <a data-toggle="dropdown" href="javascript:void(0)" class="dropdown-toggle">
                    <img class="nav-user-photo" ng-src="{{ _loginUser.Email | gravatar }}" width="40px">
                    <span class="user-info">
                        <small>Welcome,</small>
                        {{ _loginUser.UserName }}
                    </span>
                    <i class="ace-icon icon-caret-down"></i>
                </a>
                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        <a href="javascript:void(0)" title="Change Profile" ng-click="changeProfile()">
                            <i class="ace-icon fa icon-user"></i>
                            Profile
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0)" title="Log Out" ng-click="logout()">
                            <i class="ace-icon fa icon-power-off"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div class="sidebar sidebar-fixed" id="sidebar">
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success"></button>
                    <button class="btn btn-info"></button>
                    <button class="btn btn-warning"></button>
                    <button class="btn btn-danger"></button>
                </div>
                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>
                    <span class="btn btn-info"></span>
                    <span class="btn btn-warning"></span>
                    <span class="btn btn-danger"></span>
                </div>
            </div>
            <!-- menus -->
            <ul class="nav nav-list">
                <li ng-class="{active: isActive('/')}">
                    <a href="#!/">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li ng-class="{active: isPostActive()}">
                    <a href="#!/posts">
                        <i class="icon-pencil"></i>
                        <span class="menu-text">Posts</span>
                    </a>
                </li>
                <li ng-class="{active: isActive('/categories')}" ng-show="_loginUser.Role == 'Admin'">
                    <a href="#!/categories">
                        <i class="icon-bookmark"></i>
                        <span class="menu-text">Categories</span>
                    </a>
                </li>
                <li ng-class="{active: isActive('/users')}" ng-show="_loginUser.Role == 'Admin'">
                    <a href="#!/users">
                        <i class="icon-user"></i>
                        <span class="menu-text">Users</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-content" ng-view></div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>

<div modal="profileDialog" close="close()" options="{backdrop: true,dialogFade:true}">
    <div class="modal-dialog">
        <form name="form" class="modal-content" ng-submit="save()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close()">&times;</button>
                    <h4 class="modal-title">Change Profile</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">UserName</label>
                            <div class="col-lg-9">
                                <input type="text" placeholder="UserName" class="form-control" ng-model="entity.UserName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email</label>
                            <div class="col-lg-9">
                                <input type="text" placeholder="Email" class="form-control" ng-model="entity.Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Password</label>
                            <div class="col-lg-9">
                                <input type="password" placeholder="Password" class="form-control" ng-model="entity.NewPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Confirm</label>
                            <div class="col-lg-9">
                                <input type="password" placeholder="Confirm Password" class="form-control" ng-model="entity.RePassword">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" ng-disabled="loading || form.$invalid">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>