/* color variable  */

@selection-color: #d9edf7;

/* global */

html,
body {
  height: 100%;
}

body {
  background-color: #eee;
}

::-moz-selection {background: @selection-color;}
::selection {background: @selection-color;}
::-webkit-selection {background: @selection-color;}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #428bca;
}

#main-container {
  min-height:100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

.container > .content {
  margin: 0 auto 60px;
  color: #666;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
}

@media (max-width: 400px) {
  footer {
    font-size: 12px;
  }
}

hr {
  border-top: 1px solid #f5f5f5;
}

/* breadcrumb */

.breadcrumb {
  padding-left: 10px;
  border-left: 20px solid #428bca;
  border-radius: 0;
}

/* navbar */

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  .navbar-brand {
    padding: 5px 20px 5px;
    img {
      border-radius: 50%;
      -webkit-transition: -webkit-transform 0.4s ease-out;
      -moz-transition: -moz-transform 0.4s ease-out;
      transition: transform 0.4s ease-out;
    }
    img:hover {
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
    }
  }
  .navbar-nav {
    > .active {
      > a,
      > a:hover,
      > a:focus {
        background-color: transparent;
      }
    }
  }
}

/* loading */

.loadingbox {
  text-align: center;
  height: 24px;
  line-height: 12px;
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -45px;
  padding: 6px 16px 6px 16px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  background: #f9edbe;
  border: 1px solid #f0c36d;
  border-radius: 5px;
  z-index: 10000;
}



/* ------------------------------------------------ */



/* post-detail */

.page-header {
  border-bottom: 1px solid #f5f5f5;
}

.post-content {
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}

/* archives */

#archives {
  background-color: #f5f5f5;
  padding: 20px 40px 20px;
  border-radius: 4px;
  > ul {
    margin: 0;
    padding: 0;
  }
}

.post-list {
  padding-left: 20px;
}

/* guestbook */

.comment-logo {
  margin: 0 auto;
}

.comment-tip {
  margin: 15px 0;
  text-align: center;
}

/* about */

blockquote {
  margin: 20px 0;
  p {
    font-size: 14px;
  }
}

.icon-3 {
  font-size: 3em;
}

.social-media a {
  text-decoration: none;
  margin-left: 8px;
  color: black;
  i:hover {
    text-align: center;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
}

.icon-facebook-sign:hover {
  color: #3b5998;
}
.icon-twitter:hover {
  color: #00a0d1;
}
.icon-weibo:hover {
  color: #ff0000;
}
.icon-instagram:hover {
  color: #4E433C;
}
.icon-github:hover {
  color: #800080;
}

/* comment */

#comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-author {
  width: 65px;
  word-break: break-all;
  word-wrap: break-word;
  margin: 10px 0;
}

.comment-left-area {
  text-align: center;
  margin: 2px 10px 0 0;
}

.comment-right-area {
  overflow: hidden;
  zoom: 1;
}

#comment-top {
  margin-bottom: 30px;
}

.comment-date {
  margin-bottom: 10px;
}

.del-comment {
  cursor: pointer;
  color: red;
}

/* plugins */

.hljs {
  background-color: #f5f5f5;
}

/* specified */

.break {
  word-wrap: break-word;
  word-break: break-all;
}

.line-height-200 {
  line-height: 200%;
}